<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of coleccionProductos">
        <th scope="row">1</th>
        <td><img src="{{col.imagen}}" alt="{{col.alt}}" width="100" height="100"></td>
        <td>{{col.nombre}}</td>
        <td>{{col.descripcion}}</td>
        <td>{{col.precio}}</td>
        <td>{{col.categoria}}</td>
        <!-- Acciones -->
        <td>
          <!-- Boton de editar -->
            <button id="btn-acs" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(col)">
              <mat-icon>edit</mat-icon></button>
              <!-- Boton de borrar -->
            <button id="btn-acs" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(col)">
              <mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
</table>

<!-- Boton para agregar producto modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar producto
</button>
  
  <!-- Modal -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div [formGroup]="producto" class="modal-body">
          <div class="mb-3">
            <label class="form-label">Ingrese nombre del producto:</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="Ej: Producto temporada 22/23">
          </div>

          <div class="mb-3">
            <label class="form-label">Ingrese una imagen:</label>
            <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese el vinculo de la imagen">
          </div>

          <div class="mb-3">
            <label class="form-label">Ingrese texto alternativo de imagen:</label>
            <input class="form-control" type="text" formControlName="alt" placeholder="Ej: Foto de camiseta temp. 22/23">
          </div>

          <div class="mb-3">
            <label class="form-label">Ingrese descripción:</label>
            <input class="form-control" type="text" formControlName="descripcion" placeholder="Ej: Camiseta azul de la temp. 22/23">
          </div>

          <div class="mb-3">
            <label class="form-label">Ingrese precio:</label>
            <input class="form-control" type="number" formControlName="precio" placeholder="Ej: 25.000$">
          </div>

          <div class="mb-3">
            <label class="form-label">Ingrese categoria:</label>
            <select class="form-control" formControlName="categoria" class="form-select">
              <option selected disabled>Elija una opcion</option>
              <option value="camisetas">Camisetas</option>
              <option value="botines">Botines</option>
              <option value="pantalones">Pantalones</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal para editar producto -->
<div class="modal fade" *ngFor="let col of coleccionProductos" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="{{col.nombre}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <input class="form-control" type="text" formControlName="imagen" placeholder="{{col.imagen}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo de imagen:</label>
          <input class="form-control" type="text" formControlName="alt" placeholder="{{col.alt}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese descripción:</label>
          <input class="form-control" type="text" formControlName="descripcion" placeholder="{{col.descripcion}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese precio:</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="{{col.precio}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese categoria:</label>
          <select class="form-control" formControlName="categoria" class="form-select">
            <option selected disabled>Elija una opcion</option>
            <option value="camisetas">Camisetas</option>
            <option value="botines">Botines</option>
            <option value="pantalones">Pantalones</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar cambios</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para borrar -->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de eliminar el producto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Mostrar el producto que vamos a eliminar -->
        Producto: {{productoSeleccionado.nombre}}
        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}" width="450" height="450">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
      </div>
    </div>
  </div>
</div>