<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/inicio" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>My App</span>

    <!-- Enrutamos las páginas -->
    <button mat-button routerLink="/inicio">Inicio</button>
    <button mat-button routerLink="/nosotros">Nosotros</button>
    <!-- Menu desplegable para productos -->
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/productos">Productos</button>
      <button mat-menu-item routerLink="/camisetas">Camisetas</button>
      <button mat-menu-item routerLink="/botines">Botines</button>
      <button mat-menu-item routerLink="/pantalones">Pantalones</button>
    </mat-menu>
    
    <button mat-button routerLink="/admin">Admin</button>
    
    <span class="example-spacer"></span>

    <!-- Menu despegable para usuarios (registro y login) -->
    <!-- Va a contener los formularios de acceso -->
    <button mat-button [matMenuTriggerFor]="user"><mat-icon>person</mat-icon></button>
    <mat-menu #user="matMenu">
      <button mat-menu-item routerLink="/login">Iniciar Sesión <mat-icon>person</mat-icon></button>
      <button mat-menu-item routerLink="/register">Registrarse <mat-icon>person_add</mat-icon></button>
    </mat-menu>
  </mat-toolbar>